/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f7fa;
}

/* Header Section */
header {
    background: #333;
    color: #fff;
    padding: 80px 20px;
    text-align: center;
}

.header-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

.header-content p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #333;
    background-color: #e7f3ff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #c2e0ff;
}

/* About Section */
#about {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

/* Projects Section */
#projects {
    padding: 40px 20px;
    background-color: #e7f3ff;
}

#projects h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.project h3 {
    color: #333;
    font-size: 1.2em;
}

.project p {
    color: #666;
    margin: 10px 0;
}

/* Contact Section */
#contact {
    padding: 40px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact a {
    color: #0073e6;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}
